* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}

.cs-datepicker--table {
  width: 100%;
}

.cs-datepicker--table,
.cs-datepicker--tr,
.cs-datepicker--td {
  border: 1px solid #b4b4b4;
  border-collapse: collapse;
}
.cs-datepicker--td {
  width: 60px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.cs-datepicker--dates {
  display: none;
  padding: 4rem;
  background-color: #fff;
  width: fit-content;
  box-shadow: 0px 4px 10px #31313138;
  position: absolute;
  z-index: 9999;
}

.cs-datepicker--dates.show {
  display: block;
}

.cs-datepicker--dates .cs-datepicker--month-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cs-datepicker--dates
  .cs-datepicker--month-container
  .cs-datepicker--prev-month,
.cs-datepicker--dates
  .cs-datepicker--month-container
  .cs-datepicker--next-month {
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center center;
}

.cs-datepicker--dates
  .cs-datepicker--month-container
  .cs-datepicker--next-month {
  background-image: url('./chevron-right-solid.svg');
}

.cs-datepicker--dates
  .cs-datepicker--month-container
  .cs-datepicker--prev-month {
  background-image: url('./chevron-left-solid.svg');
}

.cs-datepicker--dates .cs-datepicker--month-container .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #f3f3f3;
  outline: 0;
}

.cs-datepicker--dates .cs-datepicker--month-container .arrows:hover {
  background-color: #dfdfdf;
}

.cs-datepicker--dates .cs-datepicker--month-container .arrows:active {
  background-color: #02acf0da;
  color: #fff;
}

.selected {
  border: 1px solid #02acf0da;
}

.cs-datepicker--td.disabled {
  color: rgba(126, 126, 126, 0.801);
}

.slots {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  background-color: #02acf0da;
  padding: 2px 4px;
  color: #fff;
}

.cs-datepicker--close-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 5px;
  right: 10px;
  border: none;
  background-color: transparent;
}

/* MOBILE */

/* Portrait */
@media only screen and (max-device-width: 667px) {
  .cs-datepicker--dates {
    padding: 3rem 0.75rem 2rem;
  }

  .cs-datepicker--close-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    right: 20px;
    border: none;
    background-color: transparent;
  }
}
